bin/Debug/net6.0-windows/TwinCAT-ADS-Forms-Test.dll
obj/Debug/net6.0-windows/TwinCAT-ADS-Forms-Test.pdb
obj/Debug/net6.0-windows/TwinCAT-ADS-Forms-Test.dll
bin/Debug/net6.0-windows/TwinCAT-ADS-Forms-Test.pdb
